/* .pageCadastro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2a38;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.logoArea {
  flex: 1;
  text-align: center;
}

.logoNome {
  font-size: 3rem;
  font-weight: 600;
  opacity: 0.2;
  color: #b8c3cf;
}

.cadastroCard {
  background-color: #253445;
  padding: 2.5rem;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastroTitulo {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #f9fdfd;
}

.cadastroCard form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cadastroCard input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  color: #333;
}

.cadastroCard input::placeholder {
  color: #999;
}

.cadastroCard button {
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: #1e2a38;
  color: #fff;
  border: 1px solid #4a6fa5;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.cadastroCard button:hover {
  background-color: #2c3e50;
}

.loginLink {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #d0d6dc;
}

.loginLink span {
  color: #4a90e2;
  cursor: pointer;
  text-decoration: underline;
} */
